/* DataTables */

.dataTable--disabled {
  opacity: .5 !important;
  pointer-events: none !important;
}

.dataTable--slimed {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.dataTable--search {
  margin-left: auto;
}

.dataTable--pagination {
  margin-left: auto;
}

.dataTable--header {
  display: flex;
}

.dataTable--footer {
  display: flex;
}

#moloni .dataTables_processing {
  top: calc(50% + 21px) !important;
}

#moloni .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
